fastapi
uvicorn
python-multipart
opencv-python-headless
librosa
Pillow
numpy
scipy
mediapipe
praat-parselmouth
scikit-image
transformers
torch
torchvision
torchaudio
sentencepiece
protobuf
huggingface_hub
